<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fingerTouch0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,102}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
            <key>fingerTouch0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{109,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{109,96}}</string>
                <key>sourceSize</key>
                <string>{109,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fingerTouch0.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cd347d6199961e7eb190d352627fa9a$</string>
            <key>textureFileName</key>
            <string>fingerTouch0.png</string>
        </dict>
    </dict>
</plist>
