<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firstGet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{110,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{110,37}}</string>
                <key>sourceSize</key>
                <string>{112,43}</string>
            </dict>
            <key>firstGet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{110,37}}</string>
                <key>sourceSize</key>
                <string>{112,43}</string>
            </dict>
            <key>首抽免费2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{7471207,7471246},{-14942411,-14942411}}</string>
                <key>offset</key>
                <string>{-7.47120e+06,7.47120e+06}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-14942411,-14942411}}</string>
                <key>sourceSize</key>
                <string>{-1,-1}</string>
            </dict>
            <key>首抽免费2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072693250,1072693250},{-2145386497,-2145386497}}</string>
                <key>offset</key>
                <string>{-1.07269e+09,1.07269e+09}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{-2145386497,-2145386497}}</string>
                <key>sourceSize</key>
                <string>{-1,-1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>firstGet.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3426ad060a392035478f497602ba0075$</string>
            <key>textureFileName</key>
            <string>firstGet.png</string>
        </dict>
    </dict>
</plist>
