<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gambleStart0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,99}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{81,99}</string>
            </dict>
            <key>gambleStart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{77,95}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{77,95}}</string>
                <key>sourceSize</key>
                <string>{81,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startLucky.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b125de6e0a606c204a85c5c70ee9b1e$</string>
            <key>textureFileName</key>
            <string>startLucky.png</string>
        </dict>
    </dict>
</plist>
