<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>upgrade_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{421,122}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,55},{421,122}}</string>
                <key>sourceSize</key>
                <string>{445,226}</string>
            </dict>
            <key>upgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{421,168}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{421,168}}</string>
                <key>sourceSize</key>
                <string>{445,226}</string>
            </dict>
            <key>upgrade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{421,154}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{421,154}}</string>
                <key>sourceSize</key>
                <string>{445,226}</string>
            </dict>
            <key>upgrade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{331,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,18},{331,190}}</string>
                <key>sourceSize</key>
                <string>{445,226}</string>
            </dict>
            <key>upgrade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,452},{315,156}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,41},{315,156}}</string>
                <key>sourceSize</key>
                <string>{445,226}</string>
            </dict>
            <key>upgrade_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{315,110}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,65},{315,110}}</string>
                <key>sourceSize</key>
                <string>{445,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>upgrade.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21c9022c5e3c078ee7c4315b6806a2ac$</string>
            <key>textureFileName</key>
            <string>upgrade.png</string>
        </dict>
    </dict>
</plist>
