<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mHeroEffect3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{211,187}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{211,187}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>mHeroEffect3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,181}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{213,181}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>mHeroEffect3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{207,187}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{207,187}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>mHeroEffect3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,583},{207,185}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{207,185}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>mHeroEffect3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,374},{207,187}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{207,187}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>mHeroEffect3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{211,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{211,187}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>mHeroEffect3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{207,187}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{207,187}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>mHeroEffect3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{207,187}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{207,187}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>mHeroEffect3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,792},{205,187}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{205,187}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>mHeroEffect3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{207,187}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{207,187}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>mHeroEffect3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{207,187}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{207,187}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mHeroEffect3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7cfd9ccff494f5d77bcd6bf09e17ee8$</string>
            <key>textureFileName</key>
            <string>mHeroEffect3.png</string>
        </dict>
    </dict>
</plist>
