<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster11_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{191,62}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,155},{191,62}}</string>
                <key>sourceSize</key>
                <string>{361,310}</string>
            </dict>
            <key>monster11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,254}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{361,254}}</string>
                <key>sourceSize</key>
                <string>{361,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster11.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:015249c0f82306d3b7e35b5eae285b90$</string>
            <key>textureFileName</key>
            <string>monster11.png</string>
        </dict>
    </dict>
</plist>
