<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,134}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{128,134}}</string>
                <key>sourceSize</key>
                <string>{152,136}</string>
            </dict>
            <key>monster4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{120,134}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{120,134}}</string>
                <key>sourceSize</key>
                <string>{152,136}</string>
            </dict>
            <key>monster4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,258},{122,128}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,8},{122,128}}</string>
                <key>sourceSize</key>
                <string>{152,136}</string>
            </dict>
            <key>monster4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{124,134}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{124,134}}</string>
                <key>sourceSize</key>
                <string>{152,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7d176aceab734b72088f1d9f2b25c58$</string>
            <key>textureFileName</key>
            <string>monster4.png</string>
        </dict>
    </dict>
</plist>
