<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster9_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{252,85}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,162},{252,85}}</string>
                <key>sourceSize</key>
                <string>{292,345}</string>
            </dict>
            <key>monster9_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,85}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,162},{252,85}}</string>
                <key>sourceSize</key>
                <string>{292,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster9.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49c9cf44ab94a6fc4848dde2bcd1bf9f$</string>
            <key>textureFileName</key>
            <string>monster9.png</string>
        </dict>
    </dict>
</plist>
